<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/63fc58c3dd.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/cssjs/plan.css}" />

    <title>TravelPlan</title>
</head>

<body>
    <div class="wrapper">
        <div class="bar">
            <h1 class="logo">
                <a href="/">
                    <img src="/img/logo.png" alt="Travel">
                </a>
            </h1>
            <div class="barleft">
                <div class="allmenu">
                    <a href="">
                        <span class="baricon">
                            <i class="fa-solid fa-bars"></i>
                        </span>
                        <span>메뉴</span>
                    </a>
                </div>
            </div>
            <div class="barright">
                <div class="form">
                    <span class="input">
                        <input type="text" id="searchInput" placeholder="어떤 여행?">
                        <button type="button" id="searchButton" class="search" value="검색">
                    </span>
                </div>
                <div class="join">
                    <button th:if="${email == null}">회원가입</button>
                </div>
                <div class="login" id="login-logout">
                    <button id="login-button" th:if="${email == null}" onclick="loginOrLogin()">로그인</button>

                    <button id="login-button" th:if="${email != null}" onclick="loginOrLogout()">로그아웃</button>
                </div>
            </div>
        </div>
    </div>
    <div class="subwrapper">
        <nav class="subnav">
            <ul>
                <li>
                    <a href="#">공지사항</a>
                </li>
                <li>
                    <a href="/plan">여행계획</a>
                </li>
                <li>
                    <a href="/board">여행일지</a>
                </li>
                <li>
                    <a href="#">고객센터</a>
                </li>
                <!-- <li>
                    <span class="input">
                        <input type="text" id="searchInput" placeholder="어떤 여행?">
                        <input type="button" id="searchButton" class="search"value="검색">
                    </span>
                </li> -->
            </ul>
        </nav>
    </div>
    <form action="/plan" method="post">
        <div id="wrapper">
            <div id="contents" class="event">
                <nav class="tab">
                    <ul>
                        <li class="selected">
                            <a href="/board">여행일지</a>
                        </li>
                        <li class="selected2">
                            <a href="/plan">여행계획</a>
                        </li>
                    </ul>
                </nav>
                <div class="write">
                    <a href="/write">
                        <button type="button" th:if="${email != null}" onclick="writego()">글쓰기</button>
                    </a>
                </div>
                <ul class="list">
                    <li class="travelcard" th:each="plan : ${plans}">
                        <a th:href="@{'/plan/' + ${plan.id}}">
                            <div class="img" th:utext="${plan.content}">
                            </div>
                            <div class="detail">
                                <div class="tandd">
                                    <span class="title" th:text="${plan.title}"></span>
                                    <br>
                                    <br>
                                    <span class="planDate"
                                        th:text="${#temporals.format(plan.planDate, 'yy년 mm월 dd일')}"></span>
                                </div>
                                <span class="deco">
                                    <span class="userimg">
                                    </span>
                                    <br>
                                    <span class="name" th:text="${plan.member.name}"></span>
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer">
                <p>Kepco Boot Capm</p>
            </div>
        </div>
    </form>
</body>

<script>
    async function loginOrLogout() {
        // 현재 버튼의 텍스트 값을 확인하여 로그인 상태인지 확인

        try {
            // 로그아웃 버튼을 클릭한 경우 세션 값 삭제
            const response = await fetch("/logout", {
                method: "POST"
            });
            const data = await response.json();
            // 현재 페이지 리로드
            location.reload();

        } catch (error) {
            console.error("오류 발생: " + error);
        }

    }
    function loginOrLogin() {
        window.location.href = "/signin?page=plan";
        //해당 페이지 로그인버튼의 = get 주소값 으로 써주면 로그인시 해당 페이지로 진입 
        sessionStorage;

    }
    function writego() {
        winow.location.href = "/write?page=board";
    }

    // 검색 버튼을 클릭했을 때의 동작
    document.getElementById("searchButton").addEventListener("click", function () {
        // 입력 필드에서 검색어를 가져옵니다
        const searchQuery = document.getElementById("searchInput").value.trim().toLowerCase();

        // 게시물 목록을 가져옵니다
        const articles = document.querySelectorAll(".travelcard");

        // 각 게시물을 확인하고 <p> 태그의 내용과 일치하는지 확인합니다
        articles.forEach(article => {
            const title = article.querySelector(".title").textContent.toLowerCase();

            // 검색 결과에 따라 게시물을 표시하거나 숨깁니다
            if (title.includes(searchQuery)) {
                article.style.display = "block"; // 검색어와 일치하는 경우 표시
            } else {
                article.style.display = "none"; // 일치하지 않는 경우 숨김
            }
        });
    });

</script>

</html>