html{
    margin: 0;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f8f9fa;
    color: #737881;
    font: 14px malgun gothic,"sans serif";
    width: 100%;
    line-height: 1;
    overflow-y: scroll;
    display: block;
}

div .wrapper{
    margin: 0;
    min-width: 1064px;
    border-bottom-color: #fff;
}

.wrapper {
    margin-top: -15px;
    position: relative;
    display: block;
    width: 100%;
    min-width: 360px;
    height: 80px;
    color: #737881;
    line-height: 1;
    font: 12px"sans serif";
    border-bottom: 1px solid #dde1e5;
    background-color: #fff;
    z-index: 9999999;
}

.wrapper .logo {
    height: 62px;
    text-align: center;
}

.wrapper .logo a {
    width: 100%;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.wrapper a, .wrapper a .icon {
    transition: all .15s linear;
}

.wrapper .logo img {
    vertical-align: top;
    margin: -13px;
    width: 175px;
    overflow: hidden;
}

.wrapper .barleft {
    height: 62px;
    margin-top: -62px;
    padding-left: 1px;
}

.wrapper .allmenu {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 107px;
    height: 62px;
    font-size: large;
    font-weight: bold;
}

.wrapper .allmenu a {
    display: block;
    padding: 23px 23px 21px;
}

.wrapper .allmenu a:hover {
    color: #07f;
}

.wrapper .barright {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 62px;
    padding-right: 11px;
    text-align: right;
}

.wrapper .barright>div {
    position: relative;
    margin-right: 8px;
    z-index: 20;
    box-sizing: border-box;
}

.wrapper .barright>div>a{
    display: block;
    height: 62px;

}

.wrapper .barright .join {
    align-items: center;
    display: flex;
    zoom: 1;
    padding: 0;
}

.wrapper .barright .join button {
    border: none;
    background: none;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.wrapper .barright .login {
    align-items: center;
    display: flex;
    padding: 13px 9px 0 0;
    padding: 0;
}

.wrapper .barright .login button {
    border: none;
    background: none;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

button {
    padding: 0;
}

.subwrapper {
    margin-top: 0;
    background-color:white;
    position: relative;
    min-width: 360px;
    z-index: 9999998;
    height: 55px;
    min-width: 1064px;
}

.subwrapper .subnav ul {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    font-size: large;
    font-weight: bold;
}

.subwrapper .subnav li a:hover {
    cursor: pointer;
    color: black;
    border-bottom: 1px solid black;
}

.subwrapper .subnav li {
    display: inline-block;
    height: 55px;
    margin: 0 16px 0 20px;
}

.subwrapper .subnav a {
    display: block;
    height: 37px;
    padding-top: 18px;
    color: #9fa1a7;
    font: 16px;
    transition: all .15s linear;
}


a {
    text-decoration: none;
    color: black;
}

#wrapper {
    background-color: #aaaaaa1f;
    position: relative;
    min-width: 1024px;
    min-height: calc(100vh - 63px);
    padding-bottom: 80px;
}

#contents {
    margin: 0 auto;
}

.tab {
    justify-content: center;
    display: flex;
    padding-top: 88px;

    font: 700 24px 
}

.tab a {
    display: block;
    height: 41px;
}

.tab ul {
    list-style: none;
    display: flex;
    list-style: none;
    margin: 0 auto;
    width: 65%;
    padding: 0;
    border: 0;
    font-size: 2rem;
    font-weight: bold;
}

.tab .selected {
    border-bottom: 2px solid #000;
}

.tab li {
    display: inline-block;
    margin-right: 35px;
}

.tab .selected2 a:hover {
    color: #07f;
}
.write {
    min-width: 408px;
    width: 65%;
    padding: 0px;
    top: 161px;
    left: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: end;
}
.write button {
    height: auto;
    width: 70px;
    background: black;
    border: 1px solid black;
    color: white;
    font-size: large;
    text-wrap: nowrap;
    border-radius: 32%;
}
.sort {
    top: 161px;
    left: 0;
    display: flex;
    min-width: 408px;
    width: 65%;
    height: 35px;
    padding: 0px;
    justify-content: end;
    align-items: center;
    margin: 0 auto;
}

.list {
    display: block;
    background-color: aaaaaa1f;
    width: 65%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.travelcard {
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: white;
    display: inline-block;
    margin: 0 0px 72px 0;
    overflow: hidden;
    transition: transform 0.3s;
    padding-bottom: 15px;
}
.travelcard .img {
    height: 260px;
    width: 100%;
    overflow: hidden;
    display: block;
    
}
.travelcard img {
    height: 100%;
    width: 100%;
    transform-origin: center center; 
    transition: transform 0.3s;
}
.travelcard img:hover {
    transform: scale(1.1);
}
.detail {
    margin-top: 13px;
    width: 80%;
    margin: 0 auto;
}
.tandd {
    padding-top: 10px;
    width: 100%;
    border-bottom: 1px solid #f2f3f5;
    padding-bottom: 13px;

}
.detail .title {
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    font-weight: bold;

}
/* .title, .name, .boardDate, .name {
    display: block;
    width: 350px;
    margin: 0 auto;
    overflow: hidden;
} */



.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding-top: 31px;
    color: #9fa1a7;
    font-size: 11px;
    border-top: 1px solid #e5e8eb;
    text-align: center;
}