html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* 상단 */
html{
    margin: 0;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    background-color: #f8f9fa;
    color: #737881;
    font: 14px malgun gothic,"sans serif";
    width: 100%;
    line-height: 1;
    overflow-y: scroll;
    display: block;
}

div .wrapper{
    margin: 0;
    min-width: 1064px;
    border-bottom-color: #fff;
}
input[type=text]{
    /* position: absolute; */
    padding: 0 10px;
    border-radius: 0;
    margin-top: 15px;
    margin-bottom: 20px;
    height: 20px;
    border:0;
}

.search {
    display: inline-block;
    border: 0 none;
    position: relative;
    right: 0;
    top: -2px;
    text-indent: -9999px;
    width: 24px;
    height: 24px;
    background: url(https://korean.visitkorea.or.kr/resources/images/common/btn_header_search.png);
}

.wrapper {
    margin-top: -15px;
    position: relative;
    display: block;
    width: 100%;
    min-width: 360px;
    height: 80px;
    color: #737881;
    line-height: 1;
    font: 12px"sans serif";
    border-bottom: 1px solid #dde1e5;
    background-color: #fff;
    z-index: 9999999;
}

.wrapper .logo {
    height: 62px;
    text-align: center;
}

.wrapper .logo a {
    width: 100%;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.wrapper a, .wrapper a .icon {
    transition: all .15s linear;
}

.wrapper .logo img {
    vertical-align: top;
    margin: -13px;
    width: 175px;
    overflow: hidden;
}
h1[class="logo"]{
    margin-top: 10px;
}
h1 .barleft{
    position: relative;
    margin-top: 30px;
}
.wrapper .barleft {
    height: 62px;
    margin-top: -62px;
    padding-left: 1px;
}

.wrapper .allmenu {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 107px;
    height: 62px;
    font-size: large;
    font-weight: bold;
}

.wrapper .allmenu a {
    display: block;
    padding: 23px 23px 21px;
}

.wrapper .allmenu a:hover {
    color: #07f;
}

.wrapper .barright {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 62px;
    padding-right: 11px;
    text-align: right;
}

.wrapper .barright>div {
    position: relative;
    margin-right: 8px;
    z-index: 20;
    box-sizing: border-box;
}

.wrapper .barright>div>a{
    display: block;
    height: 62px;

}

.wrapper .barright .join {
    align-items: center;
    display: flex;
    zoom: 1;
    padding: 0;
}

.wrapper .barright .join button {
    border: none;
    background: none;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.wrapper .barright .login {
    align-items: center;
    display: flex;
    padding: 13px 9px 0 0;
    padding: 0;
}

.wrapper .barright .login button {
    border: none;
    background: none;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

button {
    padding: 0;
}

.subwrapper {
    margin-top: 0;
    background-color:white;
    position: relative;
    min-width: 360px;
    z-index: 9999998;
    height: 55px;
    min-width: 1064px;
}

.subwrapper .subnav ul {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    font-size: large;
    font-weight: bold;
    border-bottom: 2px solid;
}

.subwrapper .subnav li a:hover {
    cursor: pointer;
    color: black;
    border-bottom: 1px solid rgb(192, 186, 186);
}

.subwrapper .subnav li {
    display: inline-block;
    height: 55px;
    margin: 0 16px 0 20px;
}

.subwrapper .subnav a {
    display: block;
    height: 37px;
    padding-top: 18px;
    color: #9fa1a7;
    font: 16px;
    transition: all .15s linear;
}


a {
    text-decoration: none;
    margin-top: 7px;
    color: black;
}
a:hover{
    color: #07f;
}

#wrapper {
    background-color: #ffffff;
    position: relative;
    min-width: 1024px;
    min-height: calc(100vh - 63px);
    padding-bottom: 80px;
}

#contents {
    margin: 0 auto;
}
.tab {
    justify-content: center;
    display: flex;
    padding-top: 88px;

    font: 700 24px 
}

.tab a {
    display: block;
    height: 41px;
}

.tab ul {
    list-style: none;
    display: flex;
    list-style: none;
    margin: 0 auto;
    width: 65%;
    padding: 0;
    border: 0;
    font-size: 2rem;
    font-weight: bold;
}

.tab .selected2 {
    border-bottom: 2px solid #000;
}

.tab li {
    display: inline-block;
    margin-right: 35px;
}

.tab .selected a:hover {
    color: #07f;
}
.tab .selected {
    color: #737881;
}


#map{
    position: absolute;
	margin-top: 120px;
    /* width: max-content; */
    width: 1800px;
    height: 600px;
	left: 50px;
	
}

#searchInput{
	/* float: left; */
	position: relative;
	right: -4px;
	top: -4px;
	margin-right: 0px;
	width: 223px;
    height: 18px;
    padding: 26px 19px 10px;
    border: 0 none;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    background-color: transparent;
    /* text-decoration: underline ; */
    outline: 0;
}

#search_results {
    margin-top: 100px;
	height: max-content;
}

.result_item {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 0px;
    background-color: #f9f9f9;
	width: 300px;
}
#searchButton{
	position: relative;
	top: -10px;
	border: none;
	width: 50px;
	height: 30px;
	border-radius: 20px;
	cursor: pointer;
	background-color: rgb(157, 157, 243);
}
#searchButton:hover{
	background-color: rgb(138, 138, 161);
}
 
.result_item:hover {
    background-color: #e0e0e0;
}

#closeButton{
	position: relative;
	top:90px;
	left: 10px;
	display: block;
	overflow: hidden;
}
#searchContainer{
	position: relative;
	margin-top: 20px;
}
.region{
	position: relative;
	right: 171px;
	left: 1528px;
	top: 28px;
	margin-top: 22px;
	margin-right: 305px;
	width: 320px;
	height: 57px;
	border: 0px solid #888;
	border-bottom: 1px solid;
}

.radius{
	position: relative;
	margin-left: 1546px;
	margin-top: 660px;
	bottom: 15px;
	/* margin-bottom: 200px; */
}
#radiusInput{
	width: 230px;
	
}
.rad{
    bottom: 100px;
}
#searchAgainButton{
	position: relative;
	padding: 2px 1;
	/* top: -40px; */
	bottom: 35px;
	left: -220px;
	margin-left: 86px;
	margin-bottom: 10px;
}
#searchCenterButton {
	
	position: relative;
	/* right: 500px; */
	/* top: 120px; */
	left: 840px;
	bottom: 80px;
	background-image: none;
	border-radius: 20px;
	border: 1px none;
	height: 45px;
	width: 200px;
	padding: 0px 18px;
	box-shadow: rgb(0, 0, 0, 0.4) 0px 4px 10px 0px;
	cursor: pointer;
	background-color: rgb(4, 117, 244);
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
	padding: 0px 18px;
}
#clearMarkersButton{
	position: relative;
	background-color: none;
	padding: 2px 9px;
	/* background-image: url(https://cdn-icons-png.flaticon.com/512/60/60686.png); */
	left: 25px;
	bottom: 95px;
}
#search_results {
	/* display: none; */
	/* position: fixed; */
	top: 0;
	left: -300px; /* 초기에는 왼쪽에서 보이지 않도록 설정 */
	width: 300px;
	height: 100%;
	background-color: #e0e9ec;
	box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1);
	transition: left 0.3s ease-in-out; /* 왼쪽으로 나타나고 사라지도록 애니메이션 적용 */
}

.placeinfo_wrap {
    border: 1px solid #ccc;
    background: white;
    position: relative;
    bottom: 40px;
    width: 150px;
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.placeinfo_wrap .title {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.placeinfo_wrap .close {
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    color: #888;
    font-size: 20px;
    font-weight: bold;
}
.convenient {
	position: relative;
	display: inline-block;
	top: 100px; /* 버튼 간격 조정 */
	left: 201.4px;
	/* padding: 10px 1px; */
	background-color: #007bff;
	
	border: 0 none;
	/* border-radius: 5px; */
	color: #fff;
	border: none;
	cursor: pointer;
	height: 30px;
	width: 120px; /* 버튼 가로 폭을 100%로 설정 */
}
.convenient:hover{
	background-color: #065bb6;
}
/* 사이드바 스타일 */
#sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	margin-left: 20px;
	top: 30px;
	left: -20px;
	background-color: #7acfcc;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 30px;
	color: rgb(64, 68, 67);
	z-index: 1;
}

/* 사이드바 메뉴 아이템 스타일 */
#sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

/* 사이드바 메뉴 아이템 스타일 (마우스 호버 시) */
#sidebar a:hover {
	color: #f1f1f1;
}

/* 사이드바 닫기 버튼 스타일 */
#sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
}

/* 컨텐츠 영역 스타일 */
#main {
	transition: margin-left .5s;
	padding: 16px;
}
#main.pushed {
	margin-left: 300px; /* 가로 너비를 더 넓게 조정 */
}
/* "메뉴 열기" 버튼 스타일 */
#openNav {
	position: relative;
	font-size: 20px;
	cursor: pointer;
	font-weight: 550;
	left: 10px;
	bottom: 740px;
}
.pushed{
	padding: 400px;
}
/* 사이드바가 열렸을 때의 컨텐츠 마진 스타일 */
#main.pushed {
	margin-left: 400px;
}
.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
	color: #818181;
	border: hidden;
	background-color: #7acfcc;
}
