<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/cssjs/index.css}" />
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Travel</title>
</head>


<body>
    
    <header>
        <h2>Travel</h2>
        <div class="wrapper">
            <div id="login-logout">
                <button id="login-button" th:if="${email == null}" onclick="loginOrLogin()">로그인</button>
                
                <button id="login-button" th:if="${email != null}" onclick="loginOrLogout()">로그아웃</button>
            </div>
    </header>
</body>

<script>
    async function loginOrLogout() {
        // 현재 버튼의 텍스트 값을 확인하여 로그인 상태인지 확인

        try {
            // 로그아웃 버튼을 클릭한 경우 세션 값 삭제
            const response = await fetch("/logout", {
                method: "POST"
            });
            const data = await response.json();
            // 현재 페이지 리로드
            location.reload();

        } catch (error) {
            console.error("오류 발생: " + error);
        }

    }
    function loginOrLogin() {
        window.location.href = "/signin";
    }
</script>

</html>