<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>광주 관광명소</title>
    <link rel="stylesheet" th:href="@{/cssjs/hotplace.css}">
</head>
<body>
    <div class="wrapper">
        <div class="bar">
            <h1 class="logo">
                <a href="/">
                    <img src="/img/logo.png" alt="Travel">
                </a>
            </h1>
            <div class="barleft">
                <div class="allmenu">
                    <a href="">
                        <span class="baricon">
                            <i class="fa-solid fa-bars"></i>
                        </span>
                        <span>메뉴</span>
                    </a>
                </div>
            </div>
            <div class="barright">
                <div class="join">
                    <button th:if="${email == null}"><a href="/signup">회원가입</a></button>
                </div>
                <div class="login" id="login-logout">
                    <button id="login-button" th:if="${email == null}" onclick="loginOrLogin()">로그인</button>

                    <button id="login-button" th:if="${email != null}" onclick="loginOrLogout()">로그아웃</button>
                </div>
            </div>
        </div>
    </div>
    <div class="subwrapper">
        <nav class="subnav">
            <ul>
                <li>
                    <a href="#">공지사항</a>
                </li>
                <li>
                    <a href="#">여행계획</a>
                </li>
                <li>
                    <a href="#">여행일지</a>
                </li>
                <li>
                    <a href="#">고객센터</a>
                </li>
                <li>
                    <!-- <span class="input">
                        <input type="text" id="searchInput" placeholder="어떤 여행?">
                        <input type="button" id="searchButton" class="search"value="검색">
                    </span> -->
                </li>
            </ul>
        </nav>
    </div>
<div id="map"></div>
<div id="searchContainer">
    <div class="region">
        <input type="text" id="searchInput" placeholder="지역 또는 명소 검색">
        <button id="searchButton">검색</button>
    </div>
    <!-- 추가: 반경 설정을 위한 input -->
    <div class="radius">
        <div class="rad">
        <input type="number" id="radiusInput" placeholder="반경 (km)">
        <button id="setRadiusButton">반경 설정</button></div>
    </div>
</div>
<span id="openNav" onclick="openNav()">&#9776; 관광지 목록 보기</span>
<div id="sidebar">
    <button class="close-button" id="closeButton"onclick="closeNav()">❌</button>
    <button class="convenient" onclick="redirectToMap()">편의시설 찾기</button>
<div id="search_results"></div>
</div>
<button id="searchAgainButton">내 위치 기준 관광명소 검색</button>
<br><br>
<button id="searchCenterButton">&#8635;&nbsp; 현 지도에서 검색</button>
<button id="clearMarkersButton">
    마커 초기화</button>



<script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=a679bbd2d4c0a6d9d0a6ecb0a24cef88&libraries=services"></script>
<script>
    var infowindow = new kakao.maps.InfoWindow({ zIndex: 1 });
    var markers = [];

    var mapContainer = document.getElementById('map');
    var mapOption = {
        center: new kakao.maps.LatLng(35.1599785, 126.8513072),
        level: 7
    };

    var map = new kakao.maps.Map(mapContainer, mapOption);

    var ps = new kakao.maps.services.Places(map);

    var searchAgainButton = document.getElementById('searchAgainButton');
    var searchCenterButton = document.getElementById('searchCenterButton');
    var clearMarkersButton = document.getElementById('clearMarkersButton');
    var searchInput = document.getElementById('searchInput');
    var searchButton = document.getElementById('searchButton');

    // 추가: 반경 설정과 반경 설정 버튼
    var radiusInput = document.getElementById('radiusInput');
    var setRadiusButton = document.getElementById('setRadiusButton');

    // 추가: 정보 창 상태 추적 변수
    var infoWindowOpen = false;

    var radius = 5000;
    var myLatitude, myLongitude;

    // 추가: 반경 설정 버튼 클릭 이벤트 리스너
    setRadiusButton.addEventListener('click', function() {
        // 입력된 반경 값을 가져와서 반경을 업데이트
        var newRadius = parseInt(radiusInput.value);
        if (!isNaN(newRadius)) {
            radius = newRadius;
            alert('반경이 ' + newRadius + ' km로 설정되었습니다.');
        } else {
            alert('올바른 반경 값을 입력하세요.');
        }ㄴ
    });

    searchAgainButton.addEventListener('click', function() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                myLatitude = position.coords.latitude;
                myLongitude = position.coords.longitude;
                map.setCenter(new kakao.maps.LatLng(myLatitude, myLongitude));
                searchPlacesByCoordinates(myLatitude, myLongitude);
            });
        } else {
            alert('Geolocation을 지원하지 않음');
        }
    });

    searchCenterButton.addEventListener('click', function() {
        var centerCoords = map.getCenter();
        var centerLatitude = centerCoords.getLat();
        var centerLongitude = centerCoords.getLng();
        searchPlacesByCoordinates(centerLatitude, centerLongitude);
    });

    clearMarkersButton.addEventListener('click', function() {
        removeMarkers();
        // 추가: 초기화 버튼 클릭 시 정보 창 닫음
        if (infoWindowOpen) {
            infowindow.close();
            infoWindowOpen = false;
        }
    });

    searchButton.addEventListener('click', function() {
        var keyword = searchInput.value;
        searchPlacesByKeyword(keyword);
    });

    searchAgainButton.click();

    function placesSearchCB(data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {
            displayPlaces(data);
        }
    }

    function displayPlaces(places) {
        var searchResults = document.getElementById('search_results');
        searchResults.innerHTML = '';
        places.sort(function(a, b) {
            var distanceA = getDistanceFromCenter(a.y, a.x);
            var distanceB = getDistanceFromCenter(b.y, b.x);
            return distanceA - distanceB;
        });
        // alert(place)
        console.log(places);
        for (var i = 0; i < places.length; i++) {
            var place = places[i];
            var distance = getDistanceFromCenter(place.y, place.x);
            if (distance <= radius) {
                var marker = addMarker(new kakao.maps.LatLng(place.y, place.x), place);
                var item = createResultItem(place, i + 1);
                searchResults.appendChild(item);
                // 아래 클릭 이벤트 리스너로 정보 창 열고 닫음 구현
                item.addEventListener('click', function () {
                    var itemPlace = this.getAttribute('data-place');
                    var latlng = itemPlace.split(',').map(Number);

                    if (infoWindowOpen) {
                        infowindow.close();
                        infoWindowOpen = false;
                    } else {
                        var content = '<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>';
                        if (place.title) {
                            content += '<div style="padding:5px;font-size:12px;">Title: ' + place.title + '</div>';
                        }
                        infowindow.setContent(content);
                        infowindow.open(map, marker);
                        infoWindowOpen = true;
                    }
                    map.setCenter(new kakao.maps.LatLng(latlng[0], latlng[1]));
                });
            }
        }
    }

    function addMarker(position, place) {
        var marker = new kakao.maps.Marker({
            map: map,
            position: position
        });
        kakao.maps.event.addListener(marker, 'click', function () {
            if (infoWindowOpen) {
                infowindow.close();
                infoWindowOpen = false;
            } else {
                var content = '<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>';
                if (place.title) {
                    content += '<div style="padding:5px;font-size:12px;">Title: ' + place.title + '</div>';
                }
                infowindow.setContent(content);
                infowindow.open(map, marker);
                infoWindowOpen = true;
            }
        });
        markers.push(marker);
        return marker;
    }

    function createResultItem(place, sequence) {
        var item = document.createElement('div');
        item.className = 'result_item';
        item.setAttribute('data-place', place.y + ',' + place.x);
        item.innerHTML = sequence + '. ' + place.place_name;
        return item;
    }

    function searchPlacesByCoordinates(latitude, longitude) {
        removeMarkers();
        ps.categorySearch('AT4', function(data, status, pagination) {
            if (status === kakao.maps.services.Status.OK) {
                displayPlaces(data);
            }
        }, { location: new kakao.maps.LatLng(latitude, longitude) });
    }

    function searchPlacesByKeyword(keyword) {
        removeMarkers();
        ps.keywordSearch(keyword, function(data, status, pagination) {
            if (status === kakao.maps.services.Status.OK) {
                displayPlaces(data);
            }
        });
    }

    function getDistanceFromCenter(latitude, longitude) {
        var centerCoords = map.getCenter();
        var centerLat = centerCoords.getLat();
        var centerLng = centerCoords.getLng();
        var radLat1 = (Math.PI / 180) * centerLat;
        var radLat2 = (Math.PI / 180) * latitude;
        var radLng1 = (Math.PI / 180) * centerLng;
        var radLng2 = (Math.PI / 180) * longitude;
        var theta = centerLng - longitude;
        var radTheta = (Math.PI / 180) * theta;
        var dist = Math.sin(radLat1) * Math.sin(radLat2) + Math.cos(radLat1) * Math.cos(radLat2) * Math.cos(radTheta);
        dist = Math.acos(dist);
        dist = dist * (180 / Math.PI)* 60 * 1.1515* 1.609344 ;
        // dist = dist ;
        // dist = dist ;
        return dist;
    }

    function removeMarkers() {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers = [];
    }

    function openNav() {
        document.getElementById("sidebar").style.width = "350px";
        document.getElementById("main").classList.add("pushed");
    }

    function closeNav() {
        document.getElementById("sidebar").style.width = "0";
        document.getElementById("main").classList.remove("pushed");
    }
    function redirectToMap() {
        window.location.href = '/map'; // 이 URL을 '/map' 페이지로 변경하세요.
    }
</script>
</body>
</html>
